<app-header [modo]="modo" (mostrarCapacidadesChange)="onMostrarCapacidadesChange($event)"></app-header>

<mat-card appearance="outlined" class="secondary">
    <mat-card-content>
        <mat-card-header class="text-color">
            <mat-card-title>Contenedores</mat-card-title>
        </mat-card-header>

        <br/>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>

            <ng-container matColumnDef="imagen">
                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                <td mat-cell *matCellDef="let element">
                  <span class="link" (click)="abrirDialogo(element.imagen_id, element.imagen_nombre)">
                    {{element.imagen_nombre}}
                  </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="capacidades">
                <th mat-header-cell *matHeaderCellDef> Capacidades </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngFor="let capacidad of element.capacidades.split(',')">
                        <div *ngIf="mostrarCapacidades || !isBaseline(capacidad)">
                            {{capacidad}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="puertos">
                <th mat-header-cell *matHeaderCellDef> Puertos </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngFor="let port of objectKeys(element.puertos)">
                    <ng-container *ngIf="!element.puertos[port] || element.puertos[port].length === 0">
                      {{ port }}
                    </ng-container>
                    <ng-container *ngIf="element.puertos[port] && element.puertos[port].length > 0">
                      {{ port }} →
                      <span *ngFor="let bind of element.puertos[port]; let last = last">
                        {{ bind.HostIp }}:{{ bind.HostPort }}<span *ngIf="!last">, </span>
                      </span>
                    </ng-container>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="interfaces">
                <th mat-header-cell *matHeaderCellDef> Interfaces </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngFor="let item of (element.interfaces | keyvalue) let last = last">
                    <div *ngIf="item.key">
                        <strong>{{ item.key }}</strong>
                    </div>
                    <div *ngIf="getInterfaceProperty(item.value, 'MacAddress')">
                        MAC: {{ getInterfaceProperty(item.value, 'MacAddress') }}
                    </div>
                    <div *ngIf="getInterfaceProperty(item.value, 'IPAddress')">
                        IP: {{ getInterfaceProperty(item.value, 'IPAddress') }}
                    </div>
                    <div *ngIf="getInterfaceProperty(item.value, 'Gateway')">
                        Gateway: {{ getInterfaceProperty(item.value, 'Gateway') }}
                    </div>
                
                    <br *ngIf="!last" />
                  </ng-container>
                </td>
              </ng-container>

              <ng-container matColumnDef="resumenLogs">
                <th mat-header-cell *matHeaderCellDef> Resumen logs </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button (click)="abrirAnalisisLogs(element.nombre)">Analizar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasListado"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasListado;"></tr>
        </table>
        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [showFirstLastButtons]="true" (page)="onPaginateChange($event)"></mat-paginator>

    </mat-card-content>
</mat-card>