mat-card {
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.secondary{
    background-color: #222831;
}

.accent{
    background-color: #08cce0;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.link {
    cursor: pointer;
    color: #08cce0;
    text-decoration: underline;
}