<div mat-dialog-content class="dialog-content">

  <h2 mat-dialog-title class="text-color">
    Análisis de los logs de: <b>{{ data.nombreContenedor }}</b>
  </h2>

  <mat-dialog-content>
    <ng-container *ngIf="loading">
        <mat-progress-spinner mode="indeterminate" [diameter]="24"></mat-progress-spinner>
    </ng-container>
    <ng-container *ngIf="!loading && !error">
      <pre>{{ resumen }}</pre>
    </ng-container>
    <ng-container *ngIf="error">
      <p style="color: red;">{{ resumen }}</p>
    </ng-container>
  </mat-dialog-content>
</div>