.dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
.tabla-contenedor {
    height: 100%;
}

.link {
    cursor: pointer;
    color: #08cce0;
    text-decoration: underline;
}

.amarillo {
    color: yellow;
}

.naranja {
    color: orange;
}

.rojo {
    color: red;
}

.subtitulo {
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 2%;
    font-weight: normal;
    font-size: 1.3em;
}